html {
  box-sizing: border-box;
  line-height: 1.5rem;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border-top: .1em solid #595652;
  border-bottom: .1em solid #595652;
  margin: 0;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Bevan, sans-serif;
}

li {
  list-style-type: none;
}

a {
  padding: .6em;
  color: #fff;
  text-decoration: none;
  background-color: #713837;
  border-radius: .4em;
  display: inline-block;
  font-family: sans-serif;
  margin-bottom: .3em;
}

a:hover {
  background-color: #f33;
}
